footer
	.container
		.row
			.col-xs-12.col-sm-12.hidden-md.hidden-lg.center-type
				p 4900 Pearl Street, Boulder, CO 80303
				p (866) 913–5223
			.hidden-xs.hidden-sm.col-md-4.col-lg-4
				p 4900 Pearl Street, Boulder, CO 80303
				p (866) 913–5223
			.col-xs-12.col-sm-12.col-md-4.col-lg-4.center-type
				p © Copyright 2010–2013 FitBionic, Inc.
				p All Rights Reserved.
			.col-xs-12.col-sm-12.col-md-4.col-lg-4
				ul 
					li f
					li in
					li t
					li P
