footer
	.footer-sitemap
		.container
			.row
				.col-xs-12.col-s-12.col-md-2.col-md-2
					ul
						li Invest
						li
							a(href="") Popular
						li
							a(href="") Featured
						li
							a(href="") Recently Added
						li
							a(href="") Final Countdown
						li
							a(href="") Most Funded
						li
							a(href="") Location
				.col-xs-12.col-s-12.col-md-2.col-md-2
					ul
						li Pitch
						li
							a(href="") Getting Started
						li
							a(href="") Create a Project
				.col-xs-12.col-s-12.col-md-2.col-md-2
					ul
						li Social
						li
							a(href="") Blog
						li
							a(href="") Twitter
						li
							a(href="") Facebook
				.col-xs-12.col-s-12.col-md-2.col-md-2
					ul
						li About
						li
							a(href="") The Story
						li
							a(href="") The Mission
						li
							a(href="") The Founders
				.col-xs-12.col-s-12.col-md-2.col-md-2
					ul
						li Account
						li
							a(href="") My Profile
						li
							a(href="") My Investments
						li
							a(href="") My Projects
						li
							a(href="") Sign Out

	.footer-copywrite
		.container
			.row
				.col-xs-12.col-s-12.col-m-12.col-l-12
					p © Belay Capital 2013