doctype 5
html(lang="en")
	head
		title NullStrap
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		
		-if(typeof(ENV) === 'undefined' || !ENV) 
			link(rel="stylesheet", href="public/css/lib/main.css")
			script(src="public/js/lib/app.js")

		- else
			link(rel="stylesheet", href="css/vendor.css")
			link(rel="stylesheet", href="css/build.css")
			script(src="js/vendor.js")
			script(src="templates/templates.js")
			script(src="js/build.js")
	body