doctype 5
html(lang="en")
	head
		link(rel="stylesheet", href="components/bootstrap/docs/assets/css/bootstrap-responsive.css")
		link(rel="stylesheet", href="public/css/main.css")
		script(src="socket.io/socket.io.js")
		script(src="components/jquery/jquery.min.js")
		script(src="components/handlebars/handlebars.js")
		script(src="components/underscore/underscore-min.js")
		script(src="components/backbone/backbone-min.js")
		script(src="public/templates/templates.js")
		script(src="public/js/app.js")
	body