include includes/header

.large-hero-shot
	.container
		.row.margin-top-50
			.col-xs-12.col-s-12.col-md-6.col-lg-6.featured-box
			.col-xs-12.col-s-12.col-md-6.col-lg-6.cta-box

include includes/footer
