include includes/header

.container
	.nav.navbar
		.logo
		ul.pull-right
			li
				a.nav-link(href="") Invest
			li
				a.nav-link(href"") Pitch
			li
				a.nav-link(href="") Blog
			li
				a.nav-link(href="") About
			li
				a.nav-link(href="") Account
			li.user-photo-circle
				a(href="")

.container

include includes/footer
