include includes/header

.large-hero-shot
	.container
		.row.margin-top-65
			.col-xs-12.col-s-12.col-md-6.col-lg-6
				.featured-box
					.col-xs-12.col-s-12.col-md-4.col-lg-4
						.featured-photo-thumbnail(style="background:url('public/img/sample-bike-photo.jpg'); width:165px; height:165px;")
					.col-xs-12.col-s-12.col-md-8.col-lg-8
						p FEATURED PROJECT
						h3.mid-blue-type Project Title
						p Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas faucibus mollis interdum.
						a(href="") View the project...
						br
			.col-xs-12.col-s-12.col-md-6.col-lg-6
				.cta-box
					br
					h3 We help small businesses reach the top.
					p Crowdsource investments to improve your company.
					br
					a.cta-button(href="") Start a project!
					br

.container.margin-top-50
	.row
		.col-xs-12.col-s-12.col-m-12.col-l-12
			.thick-blue-top-border
			.pull-left
				h2.mid-blue-type Projects
			.pull-right.margin-top-25
				a(href="") browse
	.row.margin-top-25
		.col-xs-3.col-s-3.col-m-3.col-l-3.margin-bottom-25
			.test-fill(style="background:url('public/img/sample-bike-photo.jpg')")
				.preview-text-area
					h4 Project Title
		.col-xs-3.col-s-3.col-m-3.col-l-3.margin-bottom-25
			.test-fill
				p test
		.col-xs-3.col-s-3.col-m-3.col-l-3.margin-bottom-25
			.test-fill
				p test
		.col-xs-3.col-s-3.col-m-3.col-l-3.margin-bottom-25
			.test-fill
				p test
		.col-xs-3.col-s-3.col-m-3.col-l-3.margin-bottom-25
			.test-fill
				p test
		.col-xs-3.col-s-3.col-m-3.col-l-3.margin-bottom-25
			.test-fill
				p test

include includes/footer
