include includes/header

#main.container
	.row
		.col-xs-12
			h2.text-shadow Create an account
			
			form#signup-form(action="/createaccount", method="post")
				.row
					.col-xs-12
						input(type="text", name="name", required, placeholder="FULL NAME")
					.col-xs-12	
						input(type="email", name="email", required,placeholder="EMAIL")
				.row
					.col-xs-12
						input(type="password", name="pass1",required, placeholder= "PASSWORD")
					.col-xs-12
						input(type="password", name="pass2",required, placeholder= "RE-ENTER PASSWORD")
				.row
					.col-xs-12
						button.green-button#signup-button Sign Up!
			div#signup-error

	.row
		.col-xs-12
			h2.text-shadow Login

			form#login-form(action="/auth", method="post")
				.row.
					.col-xs-12
						input(type="email", name="username", required, placeholder= "EMAIL")
				.row.
					.col-xs-12
						input(type="password", name="password", required, placeholder= "PASSWORD")
				.row
					.col-xs-12
						button.blue-button#login-button Login

			div#login-error
		
include includes/footer