include includes/header

h2 Login
form(action="/auth", method="post")
	input#username(type="email", name="username", placeholder="EMAIL", required)
	input#password(type="password", name="password", placeholder="PASSWORD", required)
	input#submit(type="submit", value="Login")

h2 Sign Up
form#signup-form(action="/createaccount", method="post")
	input(type="text", name="name", required, placeholder="FULL NAME")
	input(type="email", name="email", required,placeholder="EMAIL")
	input(type="password", name="pass1",required, placeholder= "PASSWORD")
	input(type="password", name="pass2",required, placeholder= "RE-ENTER PASSWORD")
	button#signup-button Sign Up!


include includes/footer