yellow 		= rgba(254,206,47,1)
orange 		= rgba(244,135,48,1)
charcoal 	= rgba(45,45,45,1)
light-gray 	= rgba(153,153,153,1)

.yellow-type
	color:yellow
.orange-type
	color:orange
.light-type
	color:light-gray

.background-yellow
	background:yellow
.background-orange
	background:orange
.background-charcoal
	background:charcoal
	