/** COLORS **/
dark-blue 	= rgba(31,105,138,1)
mid-blue 	= rgba(53,167,213,1)
light-blue	= rgba(139,214,244,1)

dark-green	= rgba(62,138,90,1)
mid-green 	= rgba(84,184,119,1)
light-green	= rgba(157,208,168,1)

.mid-blue-type
	color:mid-blue
.mid-blue-background
	background:mid-blue



/** SPACING HELPERS **/
.margin-bottom-25
	margin-bottom:25px

.margin-top-5
	margin-top:5px
.margin-top-25
	margin-top:25px
.margin-top-50
	margin-top:50px
.margin-top-65
	margin-top:65px

.padding-top-10
	padding-top:10px



/** BUTTONS **/
/** call to action link on home page **/
a.cta-button
	background:mid-green
	border-bottom:3px solid dark-green
	border-radius:5px
	color:white
	font-size:1.3em
	font-weight:bold
	padding:12px 70px 15px 70px
	text-decoration:none
	&:hover
		background:light-green
		//border-bottom:3px solid dark-green
		color:white



/** TYPOGRAPHY **/
/** Myriad Pro from TypeKit **/
body
	font-family : "myriad-pro", Helvetica, sans-serif
	color:#333
	font-weight:200



/** TOP NAVIGATION AND HEADER **/
a.nav-link
	border-radius:3px
	color:mid-blue
	font-size:1.2em
	padding:5px 15px 8px 15px
	text-decoration:none
	&:hover 
		background:mid-blue
		color:white
.logo
	background:url("../../img/logo-362x28.png") 0 0 no-repeat
	height:28px
	width:362px
.navbar
	background:white
	border-bottom:15px solid mid-blue
	padding:30px 0
	ul 
		margin:5px 0 0 0
	li 
		display:inline
		list-style-type:none
.user-photo-circle
	background:url("../../img/user-photo.png") 0 0 no-repeat
	background-size:50px 50px
	border-radius:200px
	height:50px
	margin-left:10px
	margin-top:-13px
	width:50px



/** HERO SHOT AREA **/
.large-hero-shot
	background:url("../../img/large-hero-blur.jpg") 0 -225px no-repeat
	background-size:cover
	height:350px
	margin-top:104px
	width:100%
.featured-box
	background:rgba(255,255,255,0.4)
	border-radius:3px
	height:200px
	padding-top:20px
	h3
		margin:0
	p
		font-size:1.1em
.cta-box
	background:rgba(0,0,0,0.4)
	border-radius:3px
	color:white
	height:200px
	padding-top:20px
	text-align:center
	h3
		margin:0
	p 
		font-size:1.2em




/** HOME PAGE PROJECTS MODULE **/
.thick-blue-top-border
	//border-top:15px solid mid-blue
	background:mid-blue
	height:15px
.test-fill
	background:#f1f1f1
	height:200px
.preview-text-area
	background:rgba(0,0,0,0.3)
	bottom:0
	height:33%
	position:absolute
	width:100%


/** FOOTER **/
.footer-copywrite
	background:dark-blue
	color:white
	padding:10px
	text-align:center
.footer-sitemap
	background:mid-blue
	color:white
	font-size:1.1em
	padding:30px
	a
		color:white
		&:hover
			color:dark-blue
			text-decoration:underline
	ul 
		padding-left:0
	li 
		list-style-type:none
		margin-bottom:5px
	li:first-child
		font-weight:bold

