@import 'functions'
@import 'colors'
@import 'type'

body
	font-family : "HelveticaNeue-Lite", Helvetica
	color:#333
	font-weight:200
#main
	margin-top:90px



// Splash Headline
.mobile-headline-image 
	img
		height:auto
		max-width:100%